.singleTrip {
  padding-top:135px;
}

.singleTrip {
    flex: 9;
  }
  
  .singleTripWrapper {
    padding: 20px;
    padding-right: 0;
    display:flex;
    flex-direction: column;
  }
  
  .singleTripImg {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .singleTripDest {
    text-align: center;
    margin: 40px 10px 0 10px;
    color:var(--PrimaryColor);
    text-shadow: 1px 1px black;
    font-size: 45px;
    font-family: "Poppins", sans-serif;
  }

  .singleTripState {
    text-align: center;
    margin: 5px 10px;
    font-size: 25px;
    color: var(--PrimaryColor);
    /* text-shadow:1px 1px black; */
    font-family: "Poppins", sans-serif;
  }

  .singleTripInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    color: var(--textColor);
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
  }
.singleTripInfoSeason{
  font-weight: 600;
  color:var(--PrimaryColor);
}
  .singleTripInfoDiv {
    padding:10px 50px;
  }
  .singleTripDesc {
    color: #666;
    font-size: 18px;
    padding:50px 100px;
    line-height: 25px;
  }


  .singleTripDesc p {
    padding:0 1rem 1rem 1rem;
    text-align: justify;
  }
  
  .singleTripDesc .dayX{
    padding:20px;
    color:var(--PrimaryColor);
    text-shadow: 1px 1px black;
    font-size:30px;
    margin-top:2.5rem;
    font-weight:bold;
    font-family: "Poppins", sans-serif;
  }

  @media screen and (max-width:1100px){
    .singleTripDesc{
      padding: 50px 60px;
      font-size:16px;
    }
  } 
  
@media screen and (max-width:700px){
  .singleTripDesc{
    padding: 50px 40px;
    font-size:16px;
  }
} 


/* owl carusel */
/* .owl-buttons {
  display: none;
}
.owl-carousel:hover .owl-buttons {
  display: block;
}

.owl-item {
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 300px;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 0;
  padding-left: 20px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  padding-right: 20px;
} */