.package {
  width: 100%;
}

.title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--textColor);
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  z-index: 2;
}

