@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 225);
}

body, input, textarea {
  font-family: "Poppins", sans-serif;
}

.contact-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--PrimaryColor);
  overflow: hidden;
}

.contact {
  padding: 2rem;
  padding-top: 10rem;
}

.form {
  width: 100%;
  max-width: 900px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.contact-form {
  background-color: var(--SecondaryColor);
  position: relative;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #049496);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: var(--SecondaryColor);
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.heading {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}
.input::placeholder{
  color:white;
  font-size: 0.8rem;
}
textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.butn {
  padding: 0.6rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transform: 0.3s;
  margin: 0;
}

.butn:hover {
  background-color: transparent;
  color: #fff;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;

  /* background-color: red; */
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  opacity: 0;
  transition: 0.3s;
  background-color: var(--SecondaryColor);
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.3rem;
  position: relative;
}

.contact-info .title {
  color: #1abc9c;
}

.conicon {
  width: 28px;
  height: 20px;
  margin-right: 0.7rem;
}

.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.75rem;
}

.social-media a{
  color: var(--blackColor);
  font-size: 20px;
  margin-right: 0.3rem;
}

.social-media a:hover{
  color: var(--PrimaryColor);
  transform: scale(1.05);
}

.form .text {
  text-align: justify;
}

@media (max-width: 750px) {
  .form {
    grid-template-columns: 1fr;
  }

  .title {
    padding-top:0;
  }
  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 75vw;
  }

  .text {
    margin: 1rem 0 1.5rem 0;;
  }

  .social-media {
    padding: 1.5rem 0 0;
  }
}

@media (max-width: 480px) {
  /* .container {
    padding: 1.5rem;
  } */

  .contact-info:before {
    display: none;
  }

  form, .contact-info {
    padding: 1.7rem 1.6rem;
  }
}
